/* main.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.g1 {
  background: linear-gradient(45deg, #f72585, #b5179e, #7209b7, #3a0ca3);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
